<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>edit student</title>
  </head>
  <body>
    <h1>Edit Student</h1>
    <form action="/update" method="post">
      <input type="hidden" id="id" name="id" th:value="${student.id}">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" th:value="${student.name}"><br>
      <label for="surname">Surname:</label><br>
      <input type="text" id="surname" name="surname" th:value="${student.surname}"><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" th:value="${student.email}"><br>
      <label for="age">Age:</label><br>
      <input type="text" id="age" name="age" th:value="${student.age}"><br>
      <input type="submit" value="Submit">
    </form>
    <a href="/index">Back to main page</a>
  </body>
</html>