<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>edit student</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js"></script>
  </head>
  <body>
    <h1>Edit Student</h1>
    <form action="/update" method="post">
      <input type="hidden" id="id" name="id" th:value="${student.id}">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" th:value="${student.name}"><span
      id="name-error" style="color: red;"></span><br>
      <label for="surname">Surname:</label><br>
      <input type="text" id="surname" name="surname" th:value="${student.surname}"><span
      id="surname-error" style="color: red;"></span><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" th:value="${student.email}"><span
      id="email-error" style="color: red;"></span><br>
      <label for="age">Age:</label><br>
      <input type="number" id="age" name="age" th:value="${student.age}"><span
      id="age-error" style="color: red;"></span><br>
      <button type="submit" id="button">EDIT</button>
    </form>
    <a href="/index">Back to main page</a>
  </body>
</html>