<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js"></script>
    <title>Hi</title>
  </head>
  <body>
    <form action="/create" method="post">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><span
      id="name-error" style="color: red;"></span><br>
      <label for="surname">Surname:</label><br>
      <input type="text" id="surname" name="surname"><span
      id="surname-error" style="color: red;"></span><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><span
      id="email-error" style="color: red;"></span><br>
      <label for="age">Age:</label><br>
      <input type="number" id="age" name="age"><span
      id="age-error" style="color: red;"></span><br>
      <button type="submit" id="button"> CREATE</button>
    </form>
    <p>Students:</p>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
      <tr th:each="student : ${students}">
        <td th:text="${student.id}">Id</td>
        <td th:text="${student.name}">Name</td>
        <td th:text="${student.surname}">Surname</td>
        <td th:text="${student.email}">Email</td>
        <td th:text="${student.age}">Age</td>
        <td>
          <button type="button">
            <a th:href="@{/edit-student(id=${student.id})}">Edit</a>
          </button>
        <td>
          <form action="/delete" method="post">
            <input type="hidden" name="id" th:value="${student.id}">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>