<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js"></script>
    <title>Hi</title>
  </head>
  <body>
    <div class="grid-or-flex-container">
      <a href="/create-student">Create Student</a>
      <table class="main">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Age</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr th:each="student : ${students}">
          <td th:text="${student.id}">Id</td>
          <td th:text="${student.name}">Name</td>
          <td th:text="${student.surname}">Surname</td>
          <td th:text="${student.email}">Email</td>
          <td th:text="${student.age}">Age</td>
          <td>
            <button type="button" class="editButton">
              <a th:href="@{/edit-student(id=${student.id})}">Edit</a>
            </button>
          <td>
            <form action="/delete" method="post" id="deleteForm">
              <input type="hidden" name="id" th:value="${student.id}">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>